{% extends "gldas/base.html" %}

{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>

<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="App Statistics">
  <a data-toggle="modal" data-target="#stats-modal"><span class="fa fa-bar-chart"></span></a>
</div>
{% endblock %}

{% block app_content %}
<div id="map"></div>
<div id="highchart"></div>
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block app_navigation_items %}
  <!--<span style="white-space:nowrap"/>-->
  <li class="title">App Navigation</li>
  {% gizmo select_input layers %}
  {% gizmo select_input colors %}
  {% gizmo select_input times %}
  {% gizmo select_input zooms %}
  {% gizmo range_slider opacity %}
  <!--<a id="removal" class="btn btn-default" role="button">Clear Data</a>-->
  <p>GLDAS data can be viewed in 1-year increments. App performance may vary based on your interval and variable choice.</p>
{% endblock %}
