{% extends "gldas/base.html" %}

{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_content %}
<div id="outer-container">
    <div id="map"></div>
    <div id="highchart"></div>
</div>
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block app_navigation_items %}
    <!--<span style="white-space:nowrap"/>-->
    <li class="title">App Navigation</li>
    {% gizmo select_input variables %}
    {% gizmo select_input colors %}
    {% gizmo select_input dates %}
    {% gizmo range_slider opacity %}
    <p>GLDAS data is shown in 1-year increments. Performance and loading times will vary based on time and variable choice.</p>
    <p><b>Documentation and help</b> available at the <a href="https://www.github.com/rileyhales/gldas" target="_blank">github repo</a> for this app.</p>
    <p><b>Data</b> for this app came from the <a href="https://disc.gsfc.nasa.gov/datasets?keywords=GLDAS" target="_blank">NASA GES Disc</a> and is monthly average, 1/4 degree resolution, netCDF4 format.</p>
    <p><b>Tutorial videos</b> for this and related apps available on the <a href="https://www.youtube.com/channel/UC6B62KhB-Cd34ad6pGBldQQ/videos" target="_blank"> BYU Hydroinformatics Lab YouTube Channel</a>.</p>
    <p><b>Last Updated:</b> {{ updated }}</p>
    <p><b>Version:</b> {{ version }}</p>
{% endblock %}
