html, body, #app-content, #inner-app-content, #outer-container {
    margin: 0px;
    height: 100%;
}

#app-actions {
    display: none !important;
}

#app-navigation-items {
    height: 100% !important;
}

#map {
    height: 65%;
}

#highchart {
    height: 40%;
}