#inner-app-content {
    padding: 1% !important;
}

#app-actions {
    display:none !important;
}

#app-navigation-items {
    height:100% !important;
}

#map {
    height:425px;
    width:100%;
    margin: auto;
}

#highchart {
    height:275px;
    width:100%;
}